%div.demo
  %div#draggable.ui-widget-content{:style=>"width:150px;height:150px;background-color:pink;border:1px solid #999999"} Drag Me
  
%div#droppable.ui-widget-header{:style=>"width:350px;height:350px;background-color:blue;border:1px solid #999999"}
  %p Drop me

